body {

    font-family: "Inter", sans-serif;
    color: #434455;
    background-color: #0E1823;


    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

.main-button {
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
}

/* img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 24px;
} */


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

 .about {
    /* margin-top: -59px; */
    border-radius: 24px 0 0 0;
    height: 675px;
    box-sizing: border-box;
    overflow: visible;
}

.container {
    padding: 50px;
    max-width: 375px;
    min-width: 320px;
    margin: 0 auto;
    overflow: visible;
    position: relative;
}

.section-container {
    background-color: #fbfbfb;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 24px;
    overflow: visible;
    position: relative;
}

.text-content {

}

.about-title {
    max-width: 295px;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 40px;
}

.section-text {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
    /* margin-left: 189px;  */
    /* display: flex; */
    /* align-items: flex-start; */
    /* margin-left: 0; */
}

.about-text,
.about-text-1 {
    max-width: 295px;
}

.about-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #1b414b;
    margin-bottom: 20px;
}

.about-text-1 {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: -0.02em;
    color: #040306;
    opacity: 0.4;
}

.about-img {
        width: 100%;
        height: auto;
        border-radius: 0 24px 0 0;
        margin-top: 40px;
        width: calc(100% + 40px);
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -100px;
        
}

@media screen and (min-width: 768px) {

    .about {
    }

    .container {
        min-width: 768px;
        padding-top: 50px;
        padding-right: 136px;
        padding-left: 32px;
    }

    .about-title {
        max-width: 536px;
        font-size: 48px;
        margin-bottom: 50px;
    }

    .about-text,
    .about-text-1 {
       max-width: 389px;
    }

    .about-text {
        font-size: 23px;
    }

    .about-text-1 {
        font-size: 13px;
    }

    .about-img {
        width: calc(100% + 168px);
        margin-top: 50px;
        margin-bottom: -275px;
        margin-left: -32px;
        margin-right: -136px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        min-width: 1280px;
        padding: 0 50px;
        margin: 0 auto;
    }

    .section-container {
        padding-top: 50px;
        border-radius: 19px;
    }

    .text-content {
        display: flex;
        justify-content: space-between;
    }

    .about-title {
        max-width: 537px;
        font-size: 48px;
    }

    .section-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 189px;
    }

    .about-text,
    .about-text-1 {
        max-width: 354px;
    }

    .about-img {
        width: calc(100% + 100px);
        border-radius: 0 24px 0 0;
        margin-top: 100px;
        margin-bottom: -155px;
        margin-left: -50px;
        margin-right: -50px;

    }
} 

/* @media screen and (min-width: 1440px) {
    .container {
        min-width: 1340px;
    }

    .section-text {
        margin-left: 299px;
    }

    .about-text,
    .about-text-1 {
        max-width: 404px;
    }


} */
